
[Desktop Entry]
Version=1.0
Name=Guimup
Comment=Client for MPD
GenericName=Audio Player
Exec=guimup %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=guimup64
Categories=AudioVideo
MimeType=
StartupWMClass=Guimup
StartupNotify=true
Name[en_US]=guimup
